@import 'codemirror/addon/dialog/dialog.css';
@import 'codemirror/addon/fold/foldgutter.css';
@import 'codemirror/addon/hint/show-hint.css';
@import 'codemirror/addon/search/matchesonscrollbar.css';
@import 'codemirror/addon/lint/lint.css';
@import 'codemirror/lib/codemirror.css';
@import './lib/codemirror/codemirror.css';
@import './lib/codemirror/material.css';
@import './main.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #000;
}

.grid-template-app-layout {
  grid-template:
    'Header Header' auto
    'Navbar Content' 1fr
    'Statusbar Statusbar' 30px [row-end]
    / 50px 1fr;
}

.react-aria-Breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.react-aria-Breadcrumbs .react-aria-Item {
  display: flex;
  user-select: none;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-font);
}

.react-aria-Breadcrumbs .react-aria-Item:not(:last-child):after {
  content: '/';
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.new-sidebar .sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-font);
  overflow: hidden;
}
.go-llm{
  position: absolute;
  top:0px;
  padding:0px;
  right:0px;
  height: 100%;
  background-color: var(--color-bg);
}
.go-llm .highlight{
  height: 100%;
  background-color: var(--color-surprise);
  color: var(--color-font-surprise);
  padding-right: var(--padding-md);
    padding-left: var(--padding-md);
  /* padding:9px */
}

.go-llm .highlight:hover{
  filter: brightness(0.8);
}


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
